$occupationBody-width: 100%;
$occupationBody-height: 100%;

@debug "hiii";

*,html,body {
    padding: 0;
    margin: 0;

}
html{    height: 100%;    width:100%;}


body {
 
    height : $occupationBody-height;
    width: $occupationBody-width;
   margin: auto;
    padding: auto;
    background-color: white;
     min-height: 500px;
}



.OccupationPage {
  margin: auto, 5%;
    height: 80%;
    width: 80%;
    text-align: center;
    margin-top: 20vh;
    min-width: 500px;
    align-items: center;
        padding: 5%;
       

}

.occupation_body {
    height: 100%;
    width: 100%;
    background-color: #d8ecff;
    color: #25aae1;
    text-align: center;
    padding: 5%;
    border-radius: 10px;

}

.occupationBodyLF {
    height: 100%;
    width: 90%;
    // background-color: beige;
    align-items: center;
    margin: auto;
    display: flex;
    padding: 5%;

}



.nav_section {
    width: 100%;
    text-align: center;
    display: block;
}

h1 {
    color: black;
    font-size: 30px;
}

.occupation_body h1 {
    color: #2cade1;
    font-size: 30px;
}


.occupationBodyLeft {
    width: 50%;
    height: 100%;
    align-items: center;
    border-width: 0.5px;
    border-color: darkcyan;
    
    border-right-style: solid;
}

.occupationBodyRight {
    width: 50%;
    height: 100%;
    align-items: center;
    position: relative;
}

.logo {
    color: #2cade1;
    font-weight: bold;
    font-size: large;
    text-align: center;
    display: block;
}


.nav_section {
    width: 100%;
    text-align: center;
}


input {
    border-width: 0;
    border-radius: 5px;
    width: 50%;;
    display: block;
    margin: 10px auto;
}

button {
    color: white;
    background-color: #f4b942;
    border-width: 0;
    padding: 1em;
    text-align: center;
    margin: 5px;
    font-size: xx-small;
    display: block;
    width: 50%;
    height: 50%;
    margin: 10px auto;
    border-radius: 8px;
    text-align: center;
}
.occupationBodyRight button {
    width: 50%;
    font-size: xx-small;
    padding: 5px;
    margin: 10px auto;
}

.occupationBodyRight span,
.occupationBodyLeft span {
    text-align: center;
    color: #f4b942;
    font-size: small;
    font-weight: bold;
    align-self: center;

}