$welcomeBody-width: 100%;
$welcomeBody-height: 100%;

* {
    padding: 0;
    margin: 0;
}

html,
welcomeBody {
    margin: 0;
    padding: 0;
    min-width: $welcomeBody-width;
}

body {
    height: $welcomeBody-height;
    width: $welcomeBody-width;
    margin: auto;
    padding: auto;
    /* min-width: 500px; */
}



.welcomeNavBar {
    display: inline-block;
    float: right;
    font-weight: bold;
    color: #207da4;
    margin: 0;
    font-size: large;

}

.WelcomePage {
    margin: auto;
    height: 80%;
    width: 80%;
    text-align: center;
    margin-top: 50px;
    min-width: 500px;
}

.welcomeBody {
    height: 80%;
    width: 80%;
    background-color: #d8ecff;
    color: #25aae1;
    text-align: left;
    padding: 10%;
    border-radius: 10px;
    display: flex;
}

.welcomeBodyLeft {
    width: 50%;
    align-items: center;
}

.welcomeBodyRight {
    width: 50%;
    align-items: center;
    position: relative;
}

.welcomeLogo {
    float: left;
    color: #2cade1;
    font-weight: bold;
    font-size: large;
}

.welcomeBodyLeft button {
    color: white;
    background-color: #f4b942;
    width: 100px;
    margin: 10px;
    border-width: 0;
    border-radius: 10px;
    text-align: center;
    float: left;

}

.welcomeNavSection {
    width: 100%;
    margin-bottom: 50px;
}

.welcomeBodyLeft h1 {
    font-size: 30px;
    margin-bottom: 50px;
    color: #2cade1;
    display: b;
}

.pipe {
    color: black;
    font-weight: 200;
}

img {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;

}